@model integradora555.Models.Casa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Casa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDeCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDeCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDueño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDueño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagenDeCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagenDeCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alquilada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alquilada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eliminada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eliminada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CasaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
