@model IEnumerable<integradora555.Models.Casa>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr class="color">
            <th>
                @Html.DisplayNameFor(model => model.NombreDeCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDueño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagenDeCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alquilada)
            </th>
           
         
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="color table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDueño)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.imagenDeCasa) *@
                @{
                    var base64 = Convert.ToBase64String(item.imagenDeCasa);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                }
                <img class="" src="@imgSrc" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alquilada)
            </td>
            
        
        </tr>
}
    </tbody>
</table>
